h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}
#fetchButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* znajdz w lepszej rozdzialce */
    background-image: url('/resources/sraka.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z index jest po to aby okreslac ktore elementy sa na "wierzchu" */
    z-index: -1;
}


/* twoj gif mozesz nim manewrowac i sie bawic */
.gif-container {
    position: fixed;
    top: calc(68% - 400px);
    left: calc(84% - 400px);
    width: 620px;
    height: 620px;
    border-radius: 50%;
    overflow: hidden;
}
/* POTRZEBNE ABY BYLO KOLO */
.gif {
    width: 100%;
    height: 100%;
}
